
h1{ background-color:#368BC1; height:50px 
}
h3{
	background-color:#98AFC7; height:50px; margin-top:-20px
}
h4{
	background-color:#98AFC7; height:50px
}
div{background-color:lightblue; margin:10px; height:160px}