p.ex4 {
  border:0px;
  background-color:lightblue;
}

p.ex3 {
  border: 0px solid black;
  outline-style: solid;
  outline-color: black;
  outline-width: medium;
  background-color:lightblue;
}

p.ex2 {
  border: 1px solid black;
  outline-style: solid;
  outline-color: black;
  outline-width: thick;
  background-color:lightblue;
}

p.ex1 {
  border: 2px solid black;
  outline-style: solid;
  outline-color: black;
  outline-width: 4px;
  background-color:lightblue;
}